<mat-card fxLayout="column" fxLayoutAlign="center center" >
<!-- 	<mat-card-header style="text-align: center;">
		<mat-card-title style="font-size: 30px; margin-top: 40px">
			Visión
		</mat-card-title> 
		<mat-card-subtitle>
			 Forma parte de la gran famila de emprendedores Venezolanos 
		</mat-card-subtitle>
	</mat-card-header> -->
	<mat-card-content fxLayout="row" fxLayoutAlign="space-between center" style="margin-top: 40px;text-align: center;">
		<img style="height: 200px" fxFlex src="assets/images/icons/vision.svg">
		<div fxLayout="column">
			<h1 style="font-weight: bold;">Visión</h1>
			<p fxFlex="60">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eleifend sapien id fermentum mollis. Duis eget nisi eu mauris sodales accumsan. Pellentesque odio turpis, pellentesque sit amet porta in, convallis ut mauris. Pellentesque eleifend erat ipsum, eu scelerisque turpis fermentum sit amet. Aliquam tempus, lectus nec lobortis egestas, ante lorem varius magna, quis consequat purus sapien eu mauris.
			</p>	
		</div>
	</mat-card-content>
</mat-card>