<mat-card fxLayout="column" fxLayoutAlign="center center" style="padding: 80px">
	<mat-card-header style="text-align: center;">
		<mat-card-title style="font-size: 30px; margin-top: 40px">
			¿Quienes somos?
		</mat-card-title>
		<mat-card-subtitle style="font-size: 18px; margin-top: 20px">
			<!-- Forma parte de la gran famila de emprendedores Venezolanos -->
		</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content style="margin-top: 40px; text-align: center;">
		<p style="width: 80vw;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eleifend sapien id fermentum mollis. Duis eget nisi eu mauris sodales accumsan. Pellentesque odio turpis, pellentesque sit amet porta in, convallis ut mauris. Pellentesque eleifend erat ipsum, eu scelerisque turpis fermentum sit amet. Aliquam tempus, lectus nec lobortis egestas, ante lorem varius magna, quis consequat purus sapien eu mauris. Ut facilisis leo tellus. Sed commodo dui sodales mi scelerisque lobortis. Praesent imperdiet sodales accumsan. Praesent vel tincidunt augue. Nunc quis finibus mi. Fusce volutpat dolor vitae tortor pellentesque aliquet.
		</p>
	</mat-card-content>
	<mat-card-actions style="margin-bottom: 40px;">
	</mat-card-actions>
</mat-card>