<div fxLayout="column" class="div-container">
	<mat-card class="mat-card-container">
		<mat-card-header fxLayout="column" style="margin-top: 5%;" class="mat-card-header-container">
			<mat-card-title style="margin-bottom: 36px;" class="mat-card-title-container">
				Resetear contraseña
			</mat-card-title>
			<mat-card-subtitle class="mat-card-subtitle-container">
				Ingresa tu correo y la nueva contraseña
			</mat-card-subtitle>
		</mat-card-header>
	</mat-card>
	<div fxLayout="column" fxLayoutAlign="center center">
		<mat-card style="min-width: 40%;position: absolute;top: 30%;">
			<mat-card-content>
				<form [formGroup]="resetPassForm" fxLayout="column">
					<mat-form-field appearance="fill">
						<mat-label>Correo</mat-label>
						<input matInput formControlName="email" required>
						<mat-error *ngIf="resetPassForm['controls'].email.hasError('required')">El correo es requerido</mat-error>
						<mat-error *ngIf="resetPassForm['controls'].email.hasError('email')">Email inválido. Ejem: micorreo@gmail.com</mat-error>
					</mat-form-field>
					<mat-form-field appearance="fill">
						<mat-label>Nueva contraseña</mat-label>
						<input matInput [type]="hide_password ? 'password' : 'text'" formControlName="password" required>
						<button mat-icon-button matSuffix (click)="hide_password = !hide_password" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide_password">
							<mat-icon>{{hide_password ? 'visibility_off' : 'visibility'}}</mat-icon>
						</button>
						<mat-error *ngIf="resetPassForm['controls'].password.hasError('required')">La contraseña es requerida</mat-error>
						<mat-error *ngIf="resetPassForm['controls'].password.hasError('minlength')">La contraseña debe tener más de 6 caracteres</mat-error>
					</mat-form-field>
					<mat-form-field appearance="fill">
						<mat-label>Confirmar contraseña</mat-label>
						<input matInput [type]="hide_password_confirmation ? 'password' : 'text'" formControlName="password_confirmation" required>
						<button mat-icon-button matSuffix (click)="hide_password_confirmation = !hide_password_confirmation" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide_password_confirmation">
							<mat-icon>{{hide_password_confirmation ? 'visibility_off' : 'visibility'}}</mat-icon>
						</button>
						<mat-error *ngIf="resetPassForm['controls'].password_confirmation.hasError('required')">La contraseña es requerida</mat-error>
						<mat-error *ngIf="resetPassForm['controls'].password_confirmation.hasError('minlength')">La contraseña debe tener más de 6 caracteres</mat-error>
					</mat-form-field>
				</form>
			</mat-card-content>
			<mat-card-actions>
				<button fxFlex="100" class="login-botton" [disabled]="resetPassForm.invalid" (click)="save()" mat-raised-button>Enviar</button>
			</mat-card-actions>
		</mat-card>
	</div>
	<div></div>
</div>