/*mat-card-header{
	background-color: var(--unapyme-primary);
	color: white;
	border-radius: 20px
}*/

.next-button{
	background-color: var(--unapyme-primary);
	color: white;
}

.background-form{
	background-color: var(--unapyme-secondary);
}

mat-radio-group{
	margin-bottom: 10px;
}